/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a {
    text-decoration: none;
}

/* Header */
.header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-text h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

.header-text p {
    font-size: 14px;
    margin: 0;
}

.header-buttons {
    display: flex;
    gap: 10px;
}

.btn {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    color: white;
    text-align: center;
}

.btn-primary {
    background-color: #0056b3;
}

.btn-primary:hover {
    background-color: #003f8c;
}

.btn-secondary {
    background: #28a745;
    color: white;
}

.btn-secondary:hover {
    background: #218838;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-danger:hover {
    background-color: #a71d2a;
}

/* Centraliza o conteúdo principal */
.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
    background-color: #f9f9f9;
}

/* Container principal da área de pagamento */
.payment-container {
    text-align: center;
    padding: 20px 40px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

/* Título principal */
.payment-container h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

/* Texto do valor total */
#total-value {
    font-size: 20px;
    font-weight: bold;
    color: #4CAF50;
    margin-bottom: 20px;
}

/* Botões de navegação */
.navigation-buttons .btn {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    color: white;
    text-align: center;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

/* Hover dos botões de navegação */
.navigation-buttons .btn-primary:hover {
    background-color: #003f8c;
}
